.mdui-toolbar {
    margin-bottom: 100px;
}
.t_e{
    max-width: 900px;
}
@media screen and (max-width: 2000px) {

}
@media screen and (max-width: 1240px) {

}
@media screen and (max-width: 600px) {
    .mdui-toolbar a{
        z-index: 10;
    }
    .mdui-toolbar {
        margin-bottom: -100px;
    }
}

